<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Data Visualization</h3>
                    <p class="text-muted">See graphs and charts that provides engineering with the information needed to gauge effectiveness of changes</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Computer Programming</h3>
                    <p class="text-muted">Compile, export and view datasets that are normally tedious and work intensive</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Data Interpretation</h3>
                    <p class="text-muted">Understand trends in data or decide if datasets significantly different from other sets</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Experiment Design</h3>
                    <p class="text-muted">Understand the varation of the measurment process and how this could be shadowing data</p>
                </div>
            </div>
        </div>
    </div>
</section>
